div {
    height: 6rem;
    border: solid blue;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    background-color: pink;

    outline: 2px solid #000; /* Black 2px solid outline */
} 