<div class="sidebar" [class.expanded]="isExpanded">
  <ul>
    <li><a href="#">GPT 4o</a> <img class="gpt" src="https://cdn.pixabay.com/photo/2023/05/08/00/43/chatgpt-7977357_1280.png" alt="gpt"></li>
    <li><a href="#">Gemini</a>   <img class="gpt" src="https://static.vecteezy.com/system/resources/previews/055/687/055/non_2x/rectangle-gemini-google-icon-symbol-logo-free-png.png" alt="gemini"></li>
    <li><a href="#">Deepseek</a> <img class="gpt" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRPj6SSbTOghXAje90eXbT0KkfNiuhA1Fgrg&s" alt="deepseek"></li>
    <li></li>

  </ul>

  <div class="settings-button">
    <button>
      <span class="icon">⚙️</span>
    </button>
  </div>
</div>

<button class="hamburger" (click)="toggleSidebar()">
  ☰
</button>