<button class="hamburger" (click)="toggleSidebar()">
  <i class="bi bi-list" [class.rotated]="isExpanded"></i>
</button>

<div class="sidebar" [class.expanded]="isExpanded">
  <ul>
    <li (click)="abrirModal2()">
      <i class="bi bi-plus" [class.expanded]="isExpanded">
      </i>
      <span *ngIf="isExpanded">Nova conversa</span>
    </li>

    <li *ngFor="let chat of chatSessionList;" (click)="onItemClick(chat.id!)">
      <span>
        <span *ngIf="isExpanded">{{ chat.sessionTitle }}</span>
      </span>
      <button type="button" (click)="delete(chat.id!);  $event.stopPropagation()" class="btn d-flex justify-content-center align-items-center" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>  
  </ul>

  <div class="settings-button" [class.expanded]="isExpanded">
    <button (click)="abrirModal()">
      <i class="bi bi-gear-fill"></i>
      <span class="label" *ngIf="isExpanded">Configurações</span>
    </button>
  </div>
</div>

<div class="modal-overlay" [class.ativo]="modalAberto" (click)="fecharModal()">
  <div class="modal-dialog modal-dialog-custom" role="dialog" aria-modal="true" aria-labelledby="modalLabel" (click)="$event.stopPropagation()">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <div class="icone-perfil">
          <i class="bi bi-person-circle"></i>
        </div>
        <h5 class="modal-title" id="modalLabel">NexusAI</h5>
        <button type="button" class="btn-fechar" aria-label="Fechar modal" (click)="fecharModal()">
          <i class="bi bi-x-circle"></i>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" type="email" placeholder="Digite seu email" />
        </div>

        <div class="form-group">
          <label for="senha">Senha</label>
          <input id="senha" type="password" placeholder="Digite sua senha" />
        </div>
      </div>

      <div class="modal-footer centralizada">
        <button class="btn-salvar" (click)="salvar()">
          <i class="bi bi-floppy"></i> Salvar
        </button>
      </div>
    </div>
  </div>
</div>


<div class="modal-overlay" [class.ativo]="modalAberto2" (click)="fecharModal2()">
  <div class="modal-dialog modal-dialog-custom" role="dialog" aria-modal="true" aria-labelledby="modalLabel" (click)="$event.stopPropagation()">
    <div class="modal-content custom-modal">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Nova conversa</h5>
        <button type="button" class="btn-fechar" aria-label="Fechar modal" (click)="fecharModal2()">
          <i class="bi bi-x-circle"></i>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="chat">Titulo da Conversa</label>
          <input id="chat"  [(ngModel)]="newTitle" type="text" placeholder="Digite o titulo" />
        </div>


        <div class="modal-footer centralizada">
          <button class="btn-salvar" (click)="createChat()">
            <i class="bi bi-floppy"></i> Criar
          </button>
        </div>
    </div>
  </div>
</div>
