.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;

  background: 
    linear-gradient(120deg, #fff, rgba(150, 150, 150, 0.3)),
    url('../assets/texture.jpg') center/cover no-repeat;
  background-blend-mode: overlay;
  background-color: #2c2c2f;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  animation: zoomEffect 10s ease-in-out infinite, gradientMove 20s ease infinite;
}

@keyframes zoomEffect {
  0%, 100% {
    background-size: 200% 200%, 100% 100%;
  }
  50% {
    background-size: 200% 200%, 110% 110%;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%, center;
  }
  50% {
    background-position: 100% 50%, center;
  }
  100% {
    background-position: 0% 50%, center;
  }
}

h1 {
    color: #ffff;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 80vh;
}
.highlight {
    color: #ef7b00;
}
