*{
  /* Prevenir usuário de selecionar texto */
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}


img {
  max-width: 10rem;
  height: auto;
}

h1 {
  color: #ffff;
  font-weight: bold;
  cursor: pointer;
}

.highlight {
  color: #ef7b00;
}



 .logo-icon {
  width: 60px;
  height: 60px;
  margin: auto;
  background-image: url('https://sdmntpreastus2.oaiusercontent.com/files/00000000-8afc-61f6-81f3-dc919966401d/raw?se=2025-05-12T21%3A30%3A16Z&sp=r&sv=2024-08-04&sr=b&scid=00000000-0000-0000-0000-000000000000&skoid=add8ee7d-5fc7-451e-b06e-a82b2276cf62&sktid=a48cca56-e6da-484e-a814-9c849652bcb3&skt=2025-05-12T19%3A49%3A45Z&ske=2025-05-13T19%3A49%3A45Z&sks=b&skv=2024-08-04&sig=EAWhISMtFilGdIDeyW39GGQJMFFakS3YIk2yAAhM1C4%3D');
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
}


form {
  text-align: start;
}

.main-container {
  background-image: 
    linear-gradient(120deg, rgba(234, 234, 234, 0.2), rgba(0, 0, 0, 0.2)),
    url('../assets/texture.jpg');
  background-size: 200% 200%, cover;
  background-position: 0% 50%, center;
  background-repeat: no-repeat, no-repeat;
  background-blend-mode: overlay;
  background-color: #1c1c1f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  animation: zoomEffect 10s ease-in-out infinite, gradientMove 20s ease infinite;
}

@keyframes zoomEffect {
  0%, 100% {
    background-size: 200% 200%, 100% 100%;
  }
  50% {
    background-size: 200% 200%, 110% 110%;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%, center;
  }
  50% {
    background-position: 100% 50%, center;
  }
  100% {
    background-position: 0% 50%, center;
  }
}

.card {
  width: 20rem;
}

input::placeholder {
  color: #999;
  opacity: 1;
}

button {
  background-color: #29292E; 
  border: none;
}

button:hover, button:active {
  background-color: #ef7b00;
  color: #fff;
}

a {
  color: #ef7b00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  color: #a7a7a7;
}

#logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  margin-top: 6rem;
  margin-bottom: 2.5rem;
}


.login-content {
  /* flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; */
}

.main-content {
  max-width: 25rem;
  width: 100%;
  margin: 0 auto;
}