<div class="main-container">
  <div class="login-content text-center">
    <div class="main-content">

        <div id="logo">
          <div class="logo-icon"></div>
          <h1>NEXUS <span class="highlight">AI</span></h1>
        </div>
    
        <div class="card shadow mt-4">
          <div class="card-body">
            <form class="pt-2 pe-2 ps-2">
              <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="E-mail" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" required>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" (click)="redirectToHeader()">Sign In</button>
              </div>
              <p class="mt-4"><a href="">Forgot password?</a></p>
            </form>
          </div>
        </div>
    </div>

</div>
    <footer class="text-center mt-4 mb-3">
    Criado por Meia Lua Quadrado ®
    </footer>
</div>
