<div class="main-container">
  <div class="login-content text-center">
    <div class="main-content">

        <div id="logo">
          <div class="logo-icon"></div>
          <h1 (click)="irParaLogin()">NEXUS<span class="highlight">AI</span></h1>
        </div>
    
        <div class="card shadow mt-4">
          <div class="card-body">
            <form class="pt-2 pe-2 ps-2" (ngSubmit)="login()">
              <div class="mb-3">
                <label for="username" class="form-label">Nome de Usuario</label>
                <input type="text" class="form-control" id="username" [(ngModel)]="usuarioData.username" name="user" placeholder="usuario"  required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Senha</label>
                <input type="password" class="form-control" id="password" [(ngModel)]="usuarioData.password" name="password"  placeholder="senha" required>
              </div>
              <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary" >Entrar</button>
              </div>
              <p class="mt-5" (click)="irParaCadastro()">Não possui conta?<a href="javascript:void(0)"> Clique aqui</a></p>
            </form>
          </div>
        </div>
    </div>
</div>
    <footer class="text-center mt-4 mb-3">
    Criado por Meia Lua Quadrado ®
    </footer>
</div>
