<div class="chat-container" [class.chat-active]="hasSentFirstMessage">
  <div class="messages" #messagesContainer>
    <div *ngFor="let msg of messages; let isLast = last" [ngClass]="msg.role">
      <div *ngIf="isLast" #ultimaMensagem></div>
      <ng-container>
        <img *ngIf="msg.role === 'assistant' && msg.llmName === 'meta-llama/llama-3.3-8b-instruct:free'"
          src="https://cdn.pixabay.com/photo/2023/05/08/00/43/chatgpt-7977357_1280.png"
          alt="assistant" />
        <img *ngIf="msg.role === 'assistant' && msg.llmName === 'deepseek/deepseek-r1-0528-qwen3-8b:free'"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRPj6SSbTOghXAje90eXbT0KkfNiuhA1Fgrg&s"
          alt="assistant" />
        <img *ngIf="msg.role === 'assistant' && msg.llmName === 'google/gemma-3n-e4b-it:free'"
          src="https://static.vecteezy.com/system/resources/previews/055/687/055/non_2x/rectangle-gemini-google-icon-symbol-logo-free-png.png"
          alt="assistant" />
        <img *ngIf="msg.role === 'assistant' && msg.llmName === 'qwen/qwen3-8b:free'"
          src="https://unpkg.com/@lobehub/icons-static-png@latest/dark/qwen-color.png"
          alt="assistant" />
        <span>{{ msg.content }}</span>

      </ng-container>
    </div>
  </div>

  <div class="input-container">
    <div class="top">
      <textarea [(ngModel)]="userInput" (keydown.enter)="sendMessage()" (input)="ajustarTextArea($event)"
        placeholder="Pergunte alguma coisa..." rows="1"></textarea>

      <button (click)="sendMessage()" [disabled]="!userInput || userInput.trim() === ''">
        <i class="bi bi-send-fill"></i>
      </button>
    </div>

    <div class="bottom">
      <label class="trademark">Criado por Meia Lua ao Quadrado ®</label>
      <button class="help" title="Precisa de ajuda? Clique aqui!">
        <i class="bi bi-question-circle"></i>
      </button>
    </div>
  </div>
</div>