.main-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  margin-left: 3.6rem;
  background-color: #ddddff;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
  background-color: #f8f8f8;
  border: 2px solid red;
}

.body {
  flex: 1 1 auto;
  overflow-y: auto;
  background-color: white;
  border: 2px solid green;
}

.prompt-bar {
  flex: 0 0 auto;
  background-color: #f0f0f0;
  border: 2px solid blue;
}
