<!-- <p>main works!</p> -->

<div class="main-container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="content">
    <div class="header">
      <app-header></app-header>
    </div>

    <div class="body" *ngIf="showBody">
      <app-body></app-body>
    </div>

    <div class="chat">
      <app-chat (firstMessage)="hideBody()"></app-chat>
      
    </div>

    <!-- <div class="prompt-bar">
      <app-prompt-bar></app-prompt-bar>
    </div> -->
  </div>
</div>

