.main-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  margin-left: 3.6rem;
  background-color: #ddddff;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.header {
  flex: 0 0 auto;
  background-color: #f8f8f8;
}

.body {
  flex: 1 1 auto;
  overflow-y: auto;
  background-color: white;
}

.body {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.body.hidden {
  opacity: 0;
  pointer-events: none; /* Prevent interactions while hidden */
  max-height: 0;
}

.chat {
  flex: 1; /* Take remaining space */
  overflow: hidden; /* Prevent overflow */
}

.prompt-bar {
  flex: 0 0 auto;
  background-color: #f0f0f0;
  border: 2px solid blue;
}

.content {
  height: 100vh;
}





